.signupWrapper{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.signupCard{
    width: 27vw;
    margin-top: 5%;
}

.insta-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.insta-logo img{
    width: 15vw;
}

@media only screen and (max-width:620px){
    .signupCard{
        width: 60%;
    }
    .insta-logo img{
        width: 35%;
    }
}

@media only screen and (max-width: 480px) {
.signupCard {
        width: 80vw;
        margin-top: 5%;
    }
}